{:paths ["src"
         "resources" ; extension , resources used in devtools ui
         ]
 :deps {org.pinkgorilla/reval {:mvn/version "0.5.140"} ; repl + notebook viewer, brings scratchpad + pinkie
        org.pinkgorilla/scratchpad {:mvn/version "0.0.19"}
        org.pinkgorilla/ui-repl {:mvn/version "0.0.72"} ; reagent, format, page-nav,...
        org.pinkgorilla/ui-site {:mvn/version "0.0.20"} ; menu in devtools
        org.pinkgorilla/ui-pprint-frisk {:mvn/version "0.4.15"} ; frisk
        }

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1095"}}
   :main-opts ["-m" "antq.core"]}
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m"
               "clj-check.check"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "clj-kondo.main"
               "--lint"
               "src"]}
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "check"
               "--indents"
               "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "fix"
               "--indents"
               "cljfmt.edn"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                      :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts ["-m"
               "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

    :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                 io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}
  
   ; demo
  :demo
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.624"}
                nrepl/nrepl {:mvn/version "0.9.0"}
                cider/cider-nrepl {:mvn/version "0.28.3"}}
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config ["webly/config.edn"
                        "goldly/config.edn"]
               :services "goldly/services.edn"}}

  :npm-install
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "npm-install"}}

  :compile
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"}}

;           
  }}
