{:paths ["src" "resources"]
 :deps {org.pinkgorilla/ui-repl {:mvn/version "0.1.108"}; reagent, format, page-nav,...
        org.pinkgorilla/ui-site {:mvn/version "0.0.31"} ; menu in devtools
        }

 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  
  
  :webly {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.5.688"}}
          :exec-fn webly.app.app/webly-build
          :exec-args {:config [{:build {:disabled-extensions #{}}}]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :run {:exec-fn modular.system/start!
        :exec-args {:config [{}]
                    :profile "jetty"
                    :services "demo-services.edn"}}

;           
  }}
