{:name "devtools"
 ; build
 :lazy false
 :lazy-sci false
 :cljs-namespace []
 ; run
 :autoload-cljs-dir ["goldly/devtools/page"]
 :cljs-routes  {;devtools
               "devtools/help"  goldly.devtools.page.help/devtools-page
               "devtools/pages" goldly.devtools.page.page-list/page-list-page
               "devtools/build" :build
               "devtools/runtime" :runtime
               "devtools/theme" :theme
               ; reval
               "devtools/repl" :repl
               "devtools/viewer" :viewer
               ; scratchpad
               "devtools/scratchpad" :scratchpad}
 
 }
